
body{
  background-color: black;
  text-align: center;
}

#timer {
  font-family: "lato";
  font-size: 100px;
  font-weight: 300;
}

button{
  width: 100px;
  height: 35px;

}

button : hover{
  cursor : pointer;
  
}
