
body{
  background-color: white;
  text-align: center;
}

#timer {
  font-family: "lato";
  font-size: 100px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
}

button{
  width: 100px;
  height: 35px;

}

button : hover{
  cursor : pointer;

}
