body {
	background:gray;
}

video, input {
    display: block;
}


input {
    width: 200px;       
}

.loader {
	display : grid;
	grid-template-columns: 150px 200px;
}
.viewer {
	display : grid;
	width:100%;
	/* max-width:1000px; */
	grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
	/* grid-template-columns: minmax(300px,700px) minmax(150px,400px); */
	/* grid-auto-flow : column; */
	grid-column-gap : 20px;
}

video {
	width : 100%;
	max-width : 700px;
	border: 1px solid #aaa;
    object-fit: initial;
}
.contents-box{
	border: 1px solid #aaa;
	overflow: auto; 
	/* object-fit: initial; */
	min-height : 200px;
	/* max-height : inherit; */
	max-width : 400px;
}
.contents {

}


::cue {
   font-size: 20px;
}
::cue(.de) {
   color: #000;
   background-color: #ffcc00;
}
::cue(.en) {
   color: #fff;
   background-color: #00247d;
}

track {
	width : 700px;
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}