body {
	background:gray;
}

video, input {
    display: block;
}

input {
    width: 100%;       
}

.info {
    background-color: aqua;            
}

.error {
    background-color: red;
    color: white;
}

video {
	width : 700px;
	border: 1px solid #aaa;
    object-fit: initial;
}
::cue {
   font-size: 20px;
}

track {
	width : 700px;
}